
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet')}}">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/templatemo-edu-meeting.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/owl.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/lightbox.css')}}">
    <title>{% block title %}Gestion Bibliothéque!{% endblock %}</title>
    {% block stylesheets %}


        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}


</head>
<body>

{% include('topMenu.html.twig') %}
{% include('menu.html.twig') %}

{% block video %}

<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">

        <source src="{{ asset('assets/images/course-video.mp4') }}" type="video/mp4" />
        <source src="{{ asset('assets/images/Library virtual tour.mp4') }}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <div class="caption">
                            <h6>Bienvenu</h6>
                            <h2>Bienvenu Tout Les Etudiants</h2>
                            <p>Ici vous pévez trouver tout les livre que vous besoin
                            </p>

                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block slider %}
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/categorie.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Les Categories</h4>
                            <p>Les Catégories disponible
                                Séantifique,Mathématique,Phylosophique,
                                conomique,Informatique,Sport,Marketing... </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/books.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Les Meilleur Livres</h4>
                            <p>Les Livres Disponibles
                                Docker et .NET
                                HTML et JavaScript
                                Python,Symfony,Mobile,
                                Séance de la vie ,Dicart,
                                Resource Hummaine
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/read.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4> Les Editeurs</h4>
                            <p>Victor Higuo,Éditions Atlas
                                André Maurer,France Loisirs
                                Claude Petitpierre,Groupe Gallimard
                                Dicart,Groupe Bayard,Panini France
                                Freud,Flammarion, Gallimard

                                .</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/man.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Les Auteurs </h4>
                            <p>
                                Alain-Fournier
                                Apollinaire,Aragon
                                ArtaudNerval (L)
                                Nimier,Anouilh
                                Noailles,Audoux
                                Aymé Fénelon
                                Feydeau,Flaubert
                                Frison-Roche,Furet
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="icon">
                            <img src="assets/images/number-blocks.png" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Nombres Des Livres </h4>
                            <p> </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}





{% block body %}
<section class="upcoming-meetings" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Notres Bibliothéque</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories">
                    <h4>Tour Dans La Bibliothéque</h4>
                    <ul>
                        <li>
                            <video autoplay muted loop id="bg-video">


                                <source src="assets/images/Library virtual tour.mp4" type="video/mp4" />



                            </video>


                        </li>

                    </ul>
                    <div class="main-button-red">
                        <a href="meetings.html">Haut</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block Livre %}
<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <center><h2>Détails</h2></center>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-courses-item owl-carousel">
                    <div class="item">
                        <img src="assets/images/course-01.jpg" alt="Course One">
                        <div class="down-content">
                            <h4>Livre 1......</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-02.jpg" alt="Course Two">
                        <div class="down-content">
                            <h4>Livre2</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-03.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre3</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-04.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 4</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-01.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 5</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>$250</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-02.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 5</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-03.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 6</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>6</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-04.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 6 </h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>6</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-01.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 7</h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span> 7 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-02.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 8 </h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>8</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-03.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 9 </h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>9</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/images/course-04.jpg" alt="">
                        <div class="down-content">
                            <h4>Livre 10 </h4>
                            <div class="info">
                                <div class="row">
                                    <div class="col-8">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% include('piedMenu.html.twig') %}



{% block javascripts %}
    <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{asset('assets/js/isotope.min.js')}}"></script>
    <script src="{{asset('assets/js/owl-carousel.js')}}"></script>
    <script src="{{asset('assets/js/lightbox.js')}}"></script>
    <script src="{{asset('assets/js/tabs.js')}}"></script>
    <script src="{{asset('assets/js/video.js')}}"></script>
    <script src="{{asset('assets/js/slick-slider.js')}}"></script>
    <script src="{{asset('assets/js/custom.js')}}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                        scrollTop: reqSectionPos },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
{% endblock %}
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->




</body>
</html>
